{% extends 'base.html' %}
{% block title %}项目添加{% endblock %}
{% block content %}
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title"><b>追梦</b>-资产管理</h3>
    </div>
    <!--表头-->
    <div class="box float-e-margins">
        <div class="box-header with-border">
            <h3 class="box-title">添加主机 | Add HOST</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal" id="from_id">
                {% csrf_token %}
                <div class="box-body">
                    {{ host_form.idc_id }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.host_name.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ host_form.host_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.idc.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ host_form.idc }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.eth1.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ host_form.eth1 }} {{ host_form.errors.eth1.0 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.internal_ip.label_tag }}</label>
                        <div class="col-sm-10">
                            {{ host_form.internal_ip }} {{ host_form.errors.internal_ip.0 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.cpu.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{ host_form.cpu }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.memory.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.memory}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.hard_disk.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.hard_disk}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.type.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.type}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.system.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.system}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.system_version.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.system_version}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.business.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.business}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.server_type.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.server_type}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.status.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.status}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.idle.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.idle}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ host_form.editor.label_tag }}</label>
                        <div class="col-sm-10 col-lg-10">
                            {{host_form.editor}}
                            {{ host_form.create_time.label_tag }}
                            {{host_form.create_time}}
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <button type="button" onclick="flush_submit()" class="btn btn-default">取消</button>
                    <button type="button" onclick="edit_submit()" class="btn btn-info pull-right">提交</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>

</div>
{% endblock %}
{% block script %}
<script style="/static/JS/inspinia.js"></script>
<!--cookie-->
<script src="/static/plugins/jQueryUI/jquery.cookie.js"></script>

<script>
    function getQueryString(name){
		var reg=new RegExp("(^|&)"+name+"=([^&]*)(&|$)");
		var r=window.location.search.substr(1).match(reg);
		if(r!=null)return unescape(r[2]);return null;
	};
    function flush_submit(){
         $('#from_id')[0].reset();
    };

    function edit_submit(){
        var uuid = getQueryString('uuid');
        $.ajaxSetup({
                beforeSend: function(xhr,settings){
                    xhr.setRequestHeader('X-CSRFtoken', $.cookie('csrftoken'));
                }
            });
        $.ajax({
            type: "POST",
            url: "/assets/host/edit/?uuid="+uuid,
            data: $('#from_id').serialize(),
            dataType: "json",
            success: function(data){
                var success = data.status;
                if (success){
                    location.href="/assets/host/detail/?uuid="+uuid;
                }
                else{
                    var message = data.message;
                    alert(message);
                }
            }
        });
    }
</script>
{% endblock %}