{% extends 'base.html' %}
{% block title %}项目添加{% endblock %}
{% block content %}
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><b>追梦</b>-项目管理</h3>
            </div>
            <!--表头-->
            <div class="box float-e-margins">
                <div class="box-header with-border">
                    <h3 class="box-title">添加项目管理 | Add PROJECT</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" id="from_id" action="/assets/project/add/" method="post">
                        {% csrf_token %}
                        <div class="box-body">
                            <p><input class="hide" name="project_id" value={{ project_id }}></p>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ project_form.project_name.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ project_form.project_name }}
                                </div>
                            </div>
                            <div class="form-group hide">
                                <label class="col-sm-2 control-label">{{ project_form.aliases_name.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ project_form.aliases_name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ project_form.business_name.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ project_form.business_name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ project_form.business_aliases_name.label_tag }}</label>
                                <div class="col-sm-10 col-lg-10">
                                    {{ project_form.business_aliases_name }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ project_form.use_name.label_tag }}</label>
                                <div class="col-sm-10 col-lg-10">
                                    {{project_form.use_name}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">{{ project_form.comment.label_tag }}</label>
                                <div class="col-sm-10 col-lg-10">
                                    {{project_form.comment}}
                                </div>
                            </div>
                        </div>
                  <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" onclick="flush_submit()" class="btn btn-default">取消</button>
                            <button type="submit" class="btn btn-info pull-right">提交</button>
                        </div>
                  <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
{% block script %}
<script>
    function flush_submit(){
                $('#from_id')[0].reset();
            };
</script>
{% endblock %}