<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"  src="/static/chart.js"></script>
    <script type="text/javascript"  src="/static/jquery.js"></script>
    <script type="text/javascript"  src="/static/g2.js"></script>
</head>
<body>
<button id="button1">加载图表</button>
<div id="id3"style="width:500px;height:500px"><canvas id="myChart3" width="200" height="200"><h3 id="hh33"></h3></canvas></div>
</body>
<script>

$(document).ready(function(){
    $("#button1").click(function(){
        $.ajax({url:"/display/chart/",success:function(data1){

            var result =eval(data1)
            console.log(result[0]["Values"][0]["value"]);
            //$("#text1").text(result[0]["Values"][0]["timestamp"]);
            console.log(data1);
            labels1=new Array()
            data2=new Array()
            tt=new Array()
            data3=new Array()
            for (i in result[0]["Values"]){
                labels1.push(result[0]["Values"][i]["timestamp"]);
                data2.push(result[0]["Values"][i]["value"]);
                tt.push({x:result[0]["Values"][i]["timestamp"],y:result[0]["Values"][i]["value"]})
                console.log(result[0]["Values"][i]["timestamp"]*1000)
                result[0]["Values"][i]["timestamp"]=result[0]["Values"][i]["timestamp"]*1000
                }
            console.log(data2,labels1,tt)
            $("#hh33").text("aaaa")

      var chart = new G2.Chart({
        id: 'id3',
        width : 600,
        height : 300
      });
      // Step 2: 载入数据源,定义列信息
      console.log(result[0]["Values"])
      chart.source(result[0]["Values"], {
        timestamp: {
            type: 'time',
            mask:'yyyy-mm-dd \n HH:mm:ss',
        },
        value: {
          alias: '占用率',
          min: 0,
          max: 100,
        }
      });
        chart.axis('timestamp', {
        title: null // 不展示 xField 对应坐标轴的标题
        });
      chart.line().position('timestamp*value');
      chart.render();

            }});
    });
});

</script>
</html>