{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript"  src="/static/chart.js"></script>
</head>
<body>
<div style="width:400px;height:400px"><canvas id="myChart" width="200" height="200"></canvas></div>

</body>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myLineChart = new Chart(ctx, {
    type: 'line',
    data:{
        labels: {{ tlist }},
        datasets:  [{
            label: 'this is a test',
            data:  {{ vlist }},
            borderWidth:3,
            borderColor:'rgba(0,0,255,0.5)',
            borderJoinStyle:'bevel',
            pointBackgroundColor:'rgba(0,0,255,0.5)',
            pointBorderColor:'rgba(0,0,255,0.5)',
            pointRotation:0,

            tension:0,
            fill: false,
            }]
         },
    options: {
        title: {
            display:true,
            text: 'Custom Chart Title'

        }
    }
});
</script>
</html>