<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/temp/assets/rsamodels/jsrsasign-all-main.js"></script>
    <script type="text/javascript">
     function printRsa(){
     var password =document.getElementById('passwd')
     document.getElementById("text").innerHTML=password;
     }
    </script>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <label for="user">用户名：</label><input type="text" name="username" id="user">
    <label for="passwd">密  码：</label><input type="password" name="password" id="passwd">
    <input type="submit" value="登陆" onclick="printRsa()">
    <textarea id="text"> </textarea>
</form>
</body>
</html>